/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* navbar style start */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 82%;
    margin: 20px auto;
}
nav .menu-items ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu-items ul li{
    list-style: none;
    margin: 18px;
    padding: 6px;
}
nav .menu-items ul li a{
    text-decoration: none;
    color: #575757;
}
nav .btn button{
    font-size: 18px;
    padding: 8px 16px;
    background-color: #1D4ED8;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
/* navbar style end */
/* hero section style start */

header .hero-section{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section .hero-content{
    color: #ffffff;
    text-align: center;
}
.hero-section .hero-content h2{
    font-size: 75px;
    margin-bottom: 20px;
}
.hero-section .hero-content p{
    max-width: 1000px;
    font-size: 25px;
    padding: 0 20px;
    margin-bottom: 400px;
}
.hero-section .hero-content button{
    font-size: 22px;
    padding: 15px 30px;
    background-color: #1D4ED8;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

/* hero section style end */


.speakers h2{
    text-align: center;
    font-size: 50px;
    margin: 30px 0;
}
.speakers .gallery{
    max-width:85%;
    margin:0 auto;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 30px;
}
.speakers .gallery .card{
    border: 1px solid #e1dcdc;
    border-radius: 13px;
}

.speakers .gallery .card img{
    width: 100%;
    border-radius: 13px 13px 0 0;
}
.speakers .gallery .card .content{
    margin: 15px;
}

.speakers .gallery .card .content h5{
    color: #1D4ED8;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}
.speakers .gallery .card .content p{
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 300;
}